.d-hiiding{
    visibility: hidden;
}
.swal-modal {
    border-radius: 43px;
    background: #1b1b1b!important;
}
.swal-title {
    color: #fff!important;
    margin-bottom: 70px !important;
}
.swal-text {
    color: #fff !important;
}
.swal-button{
    width: 170px;
}
.swal-footer{
    display: flex;
    justify-content: space-around!important;
}
#searching{
    position: absolute;
}
.search-input{
    width: 0px; 
}
.search-container {
    width: 300px;
}
.fa-map-marker {
    font-size: 40px!important;
}


#overlay{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.8) none 50% / contain no-repeat;
    cursor: pointer;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
}
#overlay.open {
    visibility: visible;
    opacity: 1;
}

#overlay:after { /* X button icon */
    content: "\2715";
    position: absolute;
    color:#fff;
    top: 10px;
    right:20px;
    font-size: 2em;
}

.openBtn {
  background: #f1f1f1;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
}

.openBtn:hover {
  background: #bbb;
}

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
}

.overlay-content {
  position: relative;
  top: 46%;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}

.overlay .closebtn {
  position: absolute;
  top: 0px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white;
}

.overlay .closebtn:hover {
  color: #ccc;
}

.overlay input[type=text] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 80%;
  background: white;
}

.overlay input[type=text]:hover {
  background: #f1f1f1;
}

.overlay button {
  float: left;
  width: 20%;
  padding: 15px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.overlay button:hover {
  background: #bbb;
}

.easy-autocomplete-container{
    width: 100%;
    margin-top: -230px;
    margin-right: 0px!important;
}
.easy-autocomplete{
    width: 400px!important;
}
.easy-autocomplete-container ul{
    padding-right: 0px;
}
.eac-icon-right .eac-item img,
.eac-icon-right .eac-item {
    min-height: 100px;
    font-size: 20px;
    padding-top: 10px;
}
.easy-autocomplete input {
     margin-top: -268px; 
}
.overlay-content{
    display: flex;
    justify-content: center;
}

.btn-lg, .btn-group-lg>.btn {
    cursor: pointer;
}

#custom-nav {
    -webkit-box-shadow: -11px 20px 20px #63615c;
    -moz-box-shadow:    -11px 20px 20px #63615c;
    box-shadow:         -11px 20px 20px #63615c;
    z-index:999;
}